<div class="well">

<div style="border:10px">
	<span>
	  > Target Servers:
	</span>
	<br>
	<table>
		<tbody>
			<td colspan="4" style="text-align: center;">List of available Web Servers:</td>
			<tr ng-repeat="server1 in vm.serverLists | filter: 'Web Server test'" >
				<td style="text-align: left;">
				 	{{server1.serverName}} (IP: {{server1.serverIp}})
				</td>
				<td style="text-align: right;">
					<input type="button" ng-click="vm.removeServer($index)"  value="Remove" class="btn btn-info"/>
				</td>
			</tr>
		</tbody>
	</table>
	
	<br>
	
	<table>
		<tbody>
			<td colspan="4" style="text-align: center;">List of available Application Servers:</td>
			<tr ng-repeat="server2 in vm.serverLists | filter: 'Application Server test'">
				<td style="text-align: left;">
				 	{{server2.serverName}} (IP: {{server2.serverIp}})
				</td>
				<td style="text-align: right;">
					<input type="button" ng-click="vm.removeServer($index)"  value="Remove" class="btn btn-info"/>
				</td>
			</tr>
		</tbody>
	</table>
	
	<br>
	
	<table>
		<tbody>
			<td colspan="4" style="text-align: center;">List of available Database Servers:</td>
			<tr ng-repeat="server3 in vm.serverLists | filter: 'Database Server test'">
				<td style="text-align: left;">
				 	{{server3.serverName}} (IP: {{server3.serverIp}})
				</td>
				<td style="text-align: right;">
					<input type="button" ng-click="vm.removeServer($index)"  value="Remove" class="btn btn-info"/>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>


<br>
<br>

<span>
  > Add Servers:
</span>

<table>

	<tbody>
		<tr>
			<td>Enter Server Name:</td>
			<td><input type="text" ng-model="vm.newServer.server" /></td>
			<td>Enter Server IP:</td>
			<td><input type="text" ng-model="vm.newServer.ip"/></td>
		</tr>
		<tr>
			<td>Server Type :</td>
			<td>
				<select ng-model="vm.newServer.type"
						ng-options="opt as opt.type for opt in vm.serverOptions" >
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="text-align: right;">
					<input type="button" ng-click="vm.AddServer()" value="Add Server" class="btn btn-primary"/> 
			</td> 
		</tr>
	</tbody>

</table>




</div>