<div class="well">

<span>
  > Load Generators:
</span>
<br>
<table>
	<tbody>
		<td colspan="4" style="text-align: center;">List of available LG's</td>
		<tr ng-repeat="lg in vm.lgList" >
			<td style="text-align: left;">
				{{lg.loadGeneratorName}} (IP: {{lg.loadGeneratorIp}} )
			</td>
			<td style="text-align: right;"><input type="button" ng-click="vm.removeLG(lg)"  value="Remove" class="btn btn-info"/></td> 	
		</tr>
	</tbody>
</table>
<br>
<br>

<span>
  > Add Load Generators:
</span>

<table>

	<tbody>
		<tr>
			<td>Load Generator Name:</td>
			<td><input type="text" ng-model="vm.NewloadGeneratorName" /></td>
			<td>Load Generator IP:</td>
			<td><input type="text" ng-model="vm.NewloadGeneratorIp"/></td>
		</tr>
		<tr>
		<td colspan="4" style="text-align: right;"><input type="button" ng-click="vm.AddLg()"  value="Add LG" class="btn btn-primary"/> </td> 
		</tr>
	</tbody>

</table>

</div>