<div class="well">
<nav class="container">
	     <ul class="menuNav">
		    	<li><a  class="loadGen " ui-sref="performance.performanceConfigure.performanceConfigureLoadGenerators">LoadGenerators</a> </li>
		    	<li><a  class="server" ui-sref="performance.performanceConfigure.performanceConfigureServers" >Servers</a> </li>
	    </ul>
</nav>
     
<div class="container">
	<div ui-view></div>
</div>

</div>
    