<nav class="container">
	     <ul class="menuNav">
		    	<li><a  class="overview" ui-sref=".performanceOverView" ui-sref-active="active">Overview</a> </li>
		    	<li><a  class="createscenario" ui-sref=".performanceEditScenario" ui-sref-active="active" >Edit Scenario</a> </li>
		    	<li><a  class="scheduletest" ui-sref=".performanceScheduleTest" ui-sref-active="active" >Schedule Test </a> </li>
		    	<li><a  class="livereport" ui-sref=".performanceLiveReport" ui-sref-active="active" >Live Report</a> </li>
		    	<li><a  class="historicreport" ui-sref=".performanceHistoricalReport" ui-sref-active="active" >Historical Reports</a> </li>
		    	<li><a  class="configure" ui-sref=".performanceConfigure"  ui-sref-active="active">Configure</a> </li>
		    	<li><a  class="toolinfo" ui-sref=".performanceToolInfo" ui-sref-active="active" >Tool Info</a> </li>
	    </ul>
</nav>
     
<div ui-view></div>
    