<div id="bodyContentDiv">
	<div class="clear"></div>
	<div class="footerdiv">Recent Test Results</div>
	<table>
			<thead>
				<tr>
					<th>Run IDs</th>
					<th>Scenario Name</th>
					<th>Date / Time</th>
					<th>Total User</th>
					<th>Total Transactions</th>
					<th>Pass</th>
					<th>Fail</th>
					<th>Hits / sec</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			
				<tr ng-repeat="tests in vm.recentRest">
					<td>{{tests.runId}}</td>
					<td>{{tests.testScenarioName}}</td>
					<td>{{tests.runDatetime}}</td>
					<td>{{tests.totUsers}}</td>
					<td>{{tests.totalTransactions}}</td>
					<td>{{tests.pass}}</td>
					<td>{{tests.fail}}</td>
					<td>{{tests.hitsPerSec}}</td>
					<td>{{tests.status}}</td>
				</tr>
			</tbody>
	</table>
</div>