
<div id="bodyContentDiv" >

	<table class="table">		
		<tr class="danger">
			<td>
				<div class="col">
					<div class="tool_disc">Tool Description</div>
					<sy-tool-description>
				</div>
			</td>
			<td>
				<div class="col">
					<div class="tool_disc">Create Scenario</div>
					<sy-create-scenario>
				</div>
			</td>
			<td>
				<div class="col">
					<div class="tool_disc">Schedule Scenario</div>
					<sy-schedule-scenario>
				</div>
			</td>
		</tr>
	</table>
	
	<section class="wrap-content mtop" >
		<div>
			<div class="tool_disc">Live Reports</div>
			<sy-live-reports>
		</div>
		
		<div>
			<div class="tool_disc">Historic Reports</div>
			<sy-historic-reports>
		</div>
	</section>

</div>