<h5> > Browse Scenario</h5>


<div class="well" >
	select scenario file (.jmx):   
	
	<input type="file" file-model="vm.myFile">
	
<!-- 	<input type="file" id="file" name="file" ng-model="vm.selFile" /> -->
 	<input type="button" value="Load" class="btn btn-warning" style="width: 120px" ng-click="vm.uploadFile()"> 
	
	
</div>


<div ng-if="vm.showDetails">

	<div>
		<div class="well">JMX File selected: {{vm.myFile.name}}</div>
	</div>
	<div class="well"> 
		 <span>Scenario Details</span>
		 <a href="rest/performance/downloadFile">
		 	<input type="button"  class="btn btn-danger" value="Download" />
		 </a>
	</div>
	
	<table class="table">
		<tbody>
		
			<thead>
				<tr>
					<th>Sr. No.</th>
					<th>Script Name</th>
					<th>No. of VUsers</th>
					<th>Pacing (Sec)</th>
					<th>Think Time (Sec)</th>
					<th>Ramp Up (Sec)</th>
					<th>Ramp Down (Sec)</th>
					<th>Duration (Sec)</th>
				</tr>
			</thead>
			<tr ng-repeat="tests in vm.testScenarioData">
				<td>{{tests.testNumber}}</td>
				<td>{{tests.testName}}</td>
				<td>{{tests.threadGroupNumThreads}}</td>
				<td>{{tests.pacing}}</td>
				<td>{{tests.startUsersPeriod}}</td>
				<td>{{tests.rampUp}}</td>
				<td>{{tests.stopUsersPeriod}}</td>
				<td>{{tests.duration}}</td>
			</tr>
		</tbody>
	</table>
</div>
