<html>
<head>
<link rel="stylesheet" type="text/css" href="css/graph_style.css" />
<script type="text/javascript" src="js/d3.v2.js"></script>
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/simple-graph.js"></script>
</head>
<div>

	<p>> Scenario Run Details</p>

	<div class="well">
		<table>
			<tr>
				<td>Select Scenario Run ID: <select
					ng-model="vm.selLiveReportID" class="scDropDown"
					ng-options="opt.id for opt in vm.liveReportsID">
				</select> <input type="button" class="btn btn-primary" value="Show Details"
					ng-click="vm.showLiveReportsDetails()" />
				</td>
			</tr>
		</table>
	</div>



	<div ng-show="vm.selLiveReportID">


		<nav class="container">
			<ul class="menuNav">
				<li><a class="avgRespTime" ui-sref="">Average Transaction
						Response Time</a></li>
				<li><a class="cpuUtil" ui-sref="">CPU Utilization</a></li>
				<li><a class="memUtil " ui-sref="">Memory Utilization</a></li>
				<li><a class="diskUtil" ui-sref="">Disk Utilization</a></li>
			</ul>
		</nav>


		<div ui-view="">
			<section class="full mtop">
				<div class="col half first graph">
					<div id="chart1" class="chart">
						<div id="chartLegend" class="chartLegend"></div>
					</div>
				</div>
			</section>
		</div>

		<div class="clear"></div>
		<div id="testDetailsDiv"></div>

	</div>
</div>
</html>