<div class="errorMsg">
			Please upload the .jmx file first and then schedule test.
</div>

<section>

	<div class="well">
		<table class="table">
			<tr>
				<td>
					> Load Generator List
					<select class="scDropDown">
						<option>Load Generator Type</option>
					</select>
					<input type="button" value="Add/Remove LG" class="btn btn-warning"/>
				
				</td>
			</tr>
		</table>
		<table class="table">
			<tr>
				<td>Selected LG's</td>
				<td>No. Of Users</td>
				<td>Total Users</td>
			</tr>
		</table>
	</div>
</section>

<br>

<section>
	<div class="well">
		
		<table class="table">
			<tr>
				<td>
					> Server List to be monitored
					<select>
						<option>Select Server Type</option>
					</select>
					<input type="button" value="Add Server" class="btn btn-warning"/>
				
				</td>
			</tr>
		</table>
		
		<br>
		
		<table class="table">
			<tr>
			     <td>
			     	<table class="table">
			     		<tr><td colspan="2" style="text-align: left;">Selected Server</td></tr>
					    <tr ng-repeat="">
								<td>{{}}</td>
						</tr>
						<tr>
							<td><input type="button" value="Save schedule" class="btn btn-info"/> </td>
							<td><input type="button" value="Start Now" class="btn btn-info"/> </td>
						</tr>
			     	</table>
			     	
			     
			     </td>
			     <td>
			     
			     	<table class="table">
			     	
			     		<tr><td colspan="2">Schedule Scenario</td></tr>
			     		<tr>
			     			<td>Date:</td>
			     			<td><input type="date" /> </td>
			     		</tr>
			     		<tr>
			     			<td>Time:</td>
			     			<td>
			     				<select>
			     					<option>00</option>
			     					<option>01</option>
			     					<option>02</option>
			     				</select>
			     				<select>
			     					<option>00</option>
			     					<option>01</option>
			     					<option>02</option>
			     				</select>
			     			</td>
			     		</tr>
			     	
			     	</table>	
			     
			     </td>
			</tr>
			
			
			
		
		</table>
		
	</div>
</section>
<br>

<section>
<div class="well">
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Scenario Name</th>
				<th>Date/Time</th>
				<th>Enable/Disable</th>
			</tr>
		</thead>
	</table>
	<br>
	<input type="button" value="Start Schedule Now" class="btn btn-danger" />
</div>
</section>