.mainHistTabs {
	padding-left: 5px;
	padding-top: 7px;
}

div#chart1 {
	font: 8px sans-serif;
	width: 900px;
}

#loading {
	margin-left: 45%;
}

rect {
	fill: #fff;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	padding: 5px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

ul {
	list-style-type: none;
	margin: 0.5em 0em 0.5em 0em;
	width: 100%;
}

ul li {
	display: table-cell;
	vertical-align: middle;
	margin: 0em;
	padding: 0em 1em;
}

path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis {
	font-size: 1.5em;
}

.axis path,.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

.legend {
	font-size: 16px;
	font-weight: bold;
	text-anchor: middle;
	margin: 20px;
	cursor: pointer;
}

.chart {
	background-color: #F7F2C5;
	width: 900px;
	height: 500px;
}

.chartLegend {
	background-color: #F7F2C5;
	width: 900px;
	height: auto;
}

circle,.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

circle {
	fill: white;
	fill-opacity: 0.2;
	cursor: move;
}

circle.selected {
	fill: #ff7f0e;
	stroke: #ff7f0e;
}

circle:hover {
	fill: #ff7f0e;
	stroke: #707f0e;
}

circle.selected:hover {
	fill: #ff7f0e;
	stroke: #ff7f0e;
}