@charset "utf-8";
/* CSS Document */

/* css reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,select {
	vertical-align: top;
}
/* end of css reset */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #d3d3d3;
	background-attachment: scroll;
	background-clip: border-box;
	font-family: Segoe UI;
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
	padding: 0px;
	margin: 0px;
	color: #343434;
}

.clear {
	clear: both;
}

.scDropDown {
	margin:7px;
}

.f14 {
	font-size: 14px;
}

.f15 {
	font-size: 15px !important;
}

.f16 {
	font-size: 16px;
}

.f18 {
	font-size: 18px !important;
}

.f_family {
	font-family: Myriad Pro (    TT) !important;
	font-size: 13px !important;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

#main {
	width: 100%;
	background-attachment: scroll;
	overflow: hidden;
	margin: 0 auto;
	overflow-x: auto;
}

header {
	background-color: #ffffff;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	width: 100%;
	overflow: hidden;
}

.top_bar {
	background-color: #ffd200;
	width: 100%;
	border-bottom: 1px solid #6b6b6b;
	height: 61px;
}

.container {
	width: 1120px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.logo1 {
	padding: 14px 0 18px 0;
	float: right;
}

.logo {
	font-family: 'Roboto';
	font-size: 27px;
	color: #231f20;
	float: left;
	padding: 14px 0 18px 0;
	margin: 0;
}

.whitetxt {
	color: #ffffff;
}

.user_name {
	float: right;
	width: 112px;
	border-left: 1px solid #e6bd00;
	padding: 0px 0 14px 17px;
	font-size: 16px;
	margin: 14px 7px 0 0;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.down_arrow {
	float: left;
	height: 5px;
	padding-left: 14px;
	position: absolute;
	top: 24px;
	width: 8px;
	cursor: pointer;
}

ul.menuNav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: block;
}

ul.menuNav li {
	text-decoration: none;
	display: block;
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	background: url(../images/divider.png) no-repeat right 9px;
	float: left;
	margin: 0 0 0 -1px;
}

ul.menuNav li:last-child {
	background: none;
}

ul.menuNav li a.home {
	background: url(../images/home-02-icon_32x32px.png) 50% 11px no-repeat;
	float: left;
	margin-left: 85px;
	padding: 42px 16px 7px 16px;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.home:hover {
	background-color: #d3d3d3 !important;
	color: #343434;
}

ul.menuNav li a.overview {
	background: url(../images/overview-icon_32x32px.png) 50% 11px no-repeat;
	float: left;
	margin-left: 85px;
	padding: 42px 16px 7px 16px;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.overview:hover {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.createscenario {
	background: url(../images/document-edit-icon_32x32px.png) 50% 11px
		no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.createscenario:hover,ul.menuNav li a.createscenario.active
	{
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.logoutTab {
	background: url(../images/logout-icon.png) 50% 11px no-repeat;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.logoutTab:hover,ul.menuNav li a.logoutTab.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.logoutTab.active {
	background-color: #959595 !important;
}

ul.menuNav li a.manualTab {
	background: url(../images/manual-icon.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.manualTab:hover,ul.menuNav li a.manualTab.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.manualTab.active {
	background-color: #959595 !important;
}

ul.menuNav li a.automationTab {
	background: url(../images/automation-icon.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.automationTab:hover,ul.menuNav li a.automationTab.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.automationTab.active {
	background-color: #959595 !important;
}

ul.menuNav li a.performanceTab {
	background: url(../images/performance-icon.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.performanceTab:hover,ul.menuNav li a.performanceTab.active
	{
	background-color: #d3d3d3 !important;
	color: #343434;
}

ul.menuNav li a.performanceTab.active {
	background-color: #959595 !important;
}

ul.menuNav li a.mobileTab {
	background: url(../images/mobile-icon.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.mobileTab:hover,ul.menuNav li a.mobileTab.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.mobileTab.active {
	background-color: #959595 !important;
}

ul.menuNav li a.configure {
	background: url(../images/confige.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.configure:hover,ul.menuNav li a.configure.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.historicreport {
	background: url(../images/clipboard-icon_32x32px.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.historicreport:hover,ul.menuNav li a.historicreport.active
	{
	background-color: #d3d3d3;
	color: #707070;
}

#main-content {
	width: 906px;
	margin: 23px auto 31px auto;
	overflow: hidden;
	border: 1px solid #a5a5a5;
	padding: 24px 26px 34px 26px;
	background: #ffffff;
}

.wrap-content {
	overflow: hidden;
	float: left;
}

#main-content .col {
	width: 284px;
	margin-right: 23px;
	border: 1px solid #a5a5a5;
	float: left;
	box-shadow: 0 0 5px #c4c3c3;
	-webkit-box-shadow: 0 0 5px #c4c3c3;
	-moz-box-shadow: 0 0 5px #c4c3c3;
	padding: 0;
}

#main-content .col.half,#main-content .col.half.first {
	width: 48.5% !important;
	margin-right: 0;
}

#main-content .col.half,#main-content .col.half.first.graph {
	width: 900px !important;
	margin-right: 0;
}

#main-content .col.half .col5_content {
	padding: 10px !important;
	height: auto;
}

#main-content .col.half.first {
	margin-right: 1%;
	float: left;
}

#main-content .col.half {
	float: right;
}

.mright {
	margin-right: 0px !important;
}

.mtop {
	margin-top: 31px;
}

#main-content .col5 {
	width: 595px;
	border: 1px solid #a5a5a5;
	float: left;
	box-shadow: 0 0 5px #c4c3c3;
	-webkit-box-shadow: 0 0 5px #c4c3c3;
	-moz-box-shadow: 0 0 5px #c4c3c3;
	padding: 0;
}

.tool_disc {
	display: block;
	padding: 10px 15px 10px 15px;
	font-size: 16px;
	color: #343434;
	background: url(../images/graygradient.png) repeat-x;
	border-bottom: 1px solid #a5a5a5;
}

.tooltip,.col5_tooltip {
	background: url(../images/gray_arrow.png) no-repeat;
	position: absolute;
	float: left;
	width: 13px;
	height: 7px;
	margin-top: -27px;
	color: #343434;
}

.col5_tooltip {
	margin-left: 0px;
	float: left;
	left: 0;
}

.col_content,.col5_content {
	padding: 26px 0 8px 15px;
	color: #707070;
	font-size: 12px;
	height: 100px;
	line-height: 18px;
}

.col5_content {
	height: 168px;
	line-height: 18px;
	padding-bottom: 0px !important;
}

.col5_content .tooltipwrap {
	position: relative;
	float: left;
}

.col5 img {
	float: left;
	width: 237;
	height: 185px;
	margin-top: -17px;
}

.col5 .rightdiv {
	float: right;
	width: 254px;
	margin-right: 25px;
}

.footerdiv {
	display: block;
	padding: 4px 15px 10px 17px;
	width: 850px;
	font-size: 16px;
	color: #343434;
	background: url(../images/graygradient.png) repeat-x;
	border: 1px solid #a5a5a5;
}

.footerdiv1 {
	display: display;
	padding: 0px;
	width: 1010px;
	font-size: 16px;
	color: #343434;
	background: url(../images/graygradient.png) repeat-x;
	border: 1px solid #a5a5a5;
	border-top: none;
	margin-top: 28px;
}

table {
	margin-top: 5px;
	width: 850px;
	border-collapse: collapse;
	border: 1px solid #a5a5a5;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
}

tr {
	display: table-row;
	vertical-align: inherit;
}

table tr th {
	background: #a5a5a5;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	padding: 6px 15px 0px 15px;
	/*height: 27px;*/
	font-size: 13px;
	color: #343434;
	font-weight: bold;
}

table tr th:first-child {
	border-left: none;
}

table tr th:last-child {
	border-right: none;
}

table td {
	text-align: center;
	height: 36px;
	vertical-align: middle;
	border-right: 1px solid #e8e8e8;
	font-size: 13px;
}

table td:last-child {
	border-right: none;
}

table tr:nth-child(odd) td {
	background-color: #f7f7f7;
}

table tr:nth-child(even) td {
	background-color: #efefef;
}
/* synecenter-new2.html css */
.loadbox-wraper {
	width: 850px;
	padding: 26px 18px;
	border: 1px solid #A5A5A5;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
}

.loadbox-wraper .load_genbox {
	width: 800px;
	border: 1px solid #A5A5A5;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0px 0 15px 0;
	margin-bottom: 24px;
	width: 100%;
	overflow: hidden;
}

.load_genbox_inner {
	border: 1px solid #A5A5A5;
	border-left: none;
	border-right: none;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0px 0 15px 0;
	width: 100%;
	overflow: hidden;
}

.load_genbox img {
	width: 4px;
	height: 8px;
	margin-left: 16px;
	float: left;
	margin-right: 12px;
	margin-top: 22px;
}

.loadtxt {
	font-size: 16px;
	margin: 14px 21px 0 0;
	float: left;
}

.add_removetxt,.enablebtn {
	float: left;
	background: none;
	text-align: center;
	border: 1px solid #ff7200;
	-moz-border-raduis: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	color: #ff7200;
	font-size: 14px;
	margin: 10px 0 8px 0;
	text-decoration: none;
	width: 160px;
	/*height:21px;*/
	padding: 5px 0;
}

.save {
	float: left;
	background: none;
	text-align: center;
	border: 1px solid #ff7200;
	-moz-border-raduis: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	color: #ff7200;
	font-size: 14px;
	margin-top: -3px;
	width: 180px;
	float: right;
	text-decoration: none;
	width: 180px;
	height: 28px;
	padding: 5px 0px;
}

.enablebtn {
	margin: 5px 0px;
	width: 98px;
	text-align: center;
	padding: 7px 20px 8px 20px;
}

#loadtable,#selected_serv,#schedule_tbl {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #d8d8d8;
	text-align: left;
}

#selected_serv {
	width: 411px;
	float: left;
	text-align: left;
}

#schedule_tbl {
	width: 411px;
	float: right;
	text-align: left;
}

#loadtable tbody,#selected_serv tbody,#schedule_tbl tbody {
	display: table-row-group;
	vertical-align: middle;
}

#loadtable tr,#selected_serv tr,#schedule_tbl tr {
	display: table-row;
	vertical-align: inherit;
}

#loadtable tr th,#selected_serv tr th,#schedule_tbl tr th {
	border: 1px solid #d8d8d8;
	padding: 8px 15px 8px 15px;
	font-size: 16px;
	color: #343434;
	font-weight: normal;
	background: #ffffff;
	text-align: left;
	width: 289px;
}

#loadtable td,#selected_serv td,#schedule_tbl td {
	font-size: 14px;
	text-align: left;
	padding-left: 12px;
	height: 36px;
	vertical-align: middle;
	border: 1px solid #d8d8d8;
}

#loadtable td.whitebg {
	background: #ffffff !important;
}

#loadtable tr:nth-child(odd) td,#selected_serv tr:nth-child(odd) td,#schedule_tbl tr:nth-child(odd) td
	{
	background-color: #f7f7f7;
}

#loadtable tr:nth-child(even) td,#selected_serv tr:nth-child(even) td,#schedule_tbl tr:nth-child(even) td
	{
	background-color: #efefef;
}

.margintp {
	margin-top: 24px;
}

.top-margin19 {
	margin-top: 19px;
}

.startnowbtn {
	background: #ff7200;
	border: 1px solid #ff7200;
	-moz-border-raduis: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 29px;
	float: left;
	margin-top: 19px;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}
/* select box css starts here */
.select-wrapper {
	float: left;
	display: inline-block;
	border: 1px solid #d8d8d8;
	background: url(../images/dropdown.png) no-repeat right center;
	cursor: pointer;
	margin: 0 12px 0 0;
}

.select-wrapper,.select-wrapper select {
	width: auto;
	height: 26px;
	line-height: 26px;
	margin-top: 11px;
}

.select-wrapper .holder {
	display: block;
	margin: 0 35px 0 5px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	z-index: 0;
	font-size: 14px;
	color: #858484;
}

.select-wrapper select {
	margin: 2px 0 0 0;
	position: absolute;
	z-index: 2;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus =    true);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity =    0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.offset-left {
	margin-left: 80px;
	margin-bottom: 10px;
}

label.hand {
	cursor: pointer;
}

.row {
	width: 100%;
	height: auto;
	float: left;
}

.inline {
	display: none;
}

/* End of select box css starts here */
table.no-brdr,table.no-brdr tr td,table.no-brdr tr th {
	border: none;
	text-align: left;
}

input[type="text"] {
	line-height: 26px;
	border: 1px solid #d8d8d8;
	text-indent: 5px;
	height: 26px;
	width: 200px;
}

.loginuserpass {
	width: 150px !important;
	line-height: 20px !important;	
	height: 20px !important;	
	border: 1px solid #d8d8d8 !important;
}

.full {
	width: 100%;
	float: left;
	margin-top: 15px;
}

.testScenarioEdit {
	display: none;
}

.custom-select {
	margin-bottom: 10px;
}

.custom-select-box {
	float: left;
	height: 25px;
	width: 130px;
	margin-right: 10px;
	margin-top: 12px;
}

.loadGen {
	background: url(../images/ICON-5.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

.avgRespTime,.cpuUtil,.memUtil,.diskUtil {
	background: url(../images/ICON-5.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

.server {
	background: url(../images/servers.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.server {
	background: url(../images/servers.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.server:hover,ul.menuNav li a.server.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.scheduletest {
	background: url(../images/calendar-icon_32x32px.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.scheduletest.active {
	background: #d3d3d3 url(../images/calendar-icon_32x32px.png) 50% 11px
		no-repeat;
	color: #343434;
}

ul.menuNav li a.scheduletest:hover {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.livereport {
	background: url(../images/wifi-high-icon_32x32px.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.livereport:hover,ul.menuNav li a.livereport.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.toolinfo {
	background: url(../images/info.png) 50% 11px no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.toolinfo.active,ul.menuNav li a.tooinfo:hover {
	background: #d3d3d3 url(../images/info.png) 50% 11px no-repeat;
	color: #343434;
}

ul.menuNav li a.controller {
	background: url(../images/document-edit-icon_32x32px.png) 50% 11px
		no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.controller:hover,ul.menuNav li a.controller.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.tools {
	background: url(../images/document-edit-icon_32x32px.png) 50% 11px
		no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.tools:hover,ul.menuNav li a.tools.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.reports {
	background: url(../images/document-edit-icon_32x32px.png) 50% 11px
		no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.reports:hover,ul.menuNav li a.reports.active {
	background-color: #d3d3d3;
	color: #343434;
}

ul.menuNav li a.defectmanagement {
	background: url(../images/document-edit-icon_32x32px.png) 50% 11px
		no-repeat;
	float: left;
	padding: 42px 16px 7px 16px;
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: #7e7e7e;
}

ul.menuNav li a.defectmanagement:hover,ul.menuNav li a.defectmanagement.active
	{
	background-color: #d3d3d3;
	color: #343434;
}

.small-select {
	margin-bottom: 10px;
}

.small-wrapper {
	float: left;
	display: inline-block;
	border: 1px solid #d8d8d8;
	background: url(../images/dropdown.png) no-repeat right center;
	cursor: pointer;
	margin: 0 12px 0 0;
	background-color: #FFF;
}

.small-wrapper,.small-wrapper select {
	width: 65px;
	height: 26px;
	line-height: 26px;
	margin-top: 11px;
}

.small-wrapper .holder {
	display: block;
	margin: 0 35px 0 5px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	z-index: 0;
	font-size: 14px;
	color: #858484;
}

.small-wrapper select {
	margin: 2px 0 0 0;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus =    true);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity =    0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.error {
	color: #CF0000;
	/float: left;
}

.errorMsg {
	color: red;
	padding: 5px;
	text-align: center;
	font-size: 12px;
}

.center {
	text-align: center;
	padding-left: 10px;
}

.center_disp_none {
	text-align: center;
	padding-left: 10px;
	display: none;
}

.tableAlign {
	width: 90%;
	margin-left: 35px;
}

#testDetailsDiv {
	padding-top: 50px;
}

#dlg {
	width: 500px;
	height: 500px;
	display: none;
}

#editDlg {
	width: 500px;
	height: 500px;
	display: none;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: black;
}

#if {
	border: 0;
	width: 500px;
	height: 500px;
}