<div class="well" >
<div class="col half first" >

	<p>
		<img ng-src="images/response_time_chart.png" />
	</p>
	
	<span>
		This section enables user to view any past test run reports with all client side as well as server side metrics 
		for analysis and comparison purpose.
	</span>

</div>
</div>