<div class="well" >
	<div class="col half first" >
		<p>
		<img ng-src="images/response_time_chart.png" />
		</p>
		<span>
			This section enables user to monitor the execution with online graphs and data which includes all 
			client side metrics such as transaction response time, Hits/sec, transaction pass/fail summary etc. 
			as well as server side metric such as CPU utilization, Available Memory etc. for ongoing load test.
		</span>
	
	</div>
</div>