<div class="well" >
<div class="col_content" >
	<span >
	SyneCenter tool provides an integrated platform built on Jmeter with rich features and user interface to provide 
	an end to end performance testing and monitoring solution. 
	SyneCenter can be used for Performance Test execution, Monitoring and Reporting.
	</span>
</div>
</div>