<html>

<body>
<div id="main-content"  ng-controller="automationController as ac">
<section class="wrap-content">
	<div class="loadbox-wraper">
 
			 <label for="displayPrjNm">Project Name:</label> 
			 <br> 
			 <input type="text" id="displayPrjNm" name="displayPrjNm" ng-model="defaultProjectDetails.projectName" readonly="readonly">
			 <br> <br>
			 <label for="displayProjectDesc">Project Description:</label>
			 <br>
			 <textarea id="displayProjectDesc" name="projectDescription" rows="4" readonly="readonly" cols="20" ng-model="defaultProjectDetails.projectDescription"></textarea>
			 <br> <br> 
			 <label for="displayPrjTyp">Project Type:</label>
			 <br>
			 <input type="text" id="displayPrjTyp" name="projectType" readonly="readonly" ng-model="defaultProjectDetails.projectTypes.projectTypeName">
			    
	</div>

	<div id="bodyContentDiv">
		<div class="clear"></div>
		<div>
		<div class="footerdiv" >Recent Projects
		
			<button type="button" ng-click="toggleModal()">New Project</button>
			
		</div>
		
<modal visible="showModal">
<!-- id="newProjectForm" action="saveProjectDetails.html" method="post" -->
					<form novalidate="novalidate">

						<label for="projectName">Project Name:</label> <br> 
						<input type="text" ng-model="ac.newProject.projectName"> <br><br> 
						<label for="projectDescription">Description:</label> <br>
						<textarea ng-model="ac.newProject.projectDescription"></textarea><br> <br> 
						<label for="projectTypeId">Project Mode:</label> <br> 
						<select ng-model="ac.newProject.projectTypeId"
							ng-options="option as option.projectTypeId for option in ac.projectTypeNameOptions">

						</select> <br> <br> <br> <br> <input type="submit"
							name="submit" value="Save" ng-click=ac.addNewProject()>

					</form></div>
			<div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div></div>

</modal>




<div id="msg"></div>
			<table border="1">
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Project Type Name</th>
						<th></th>
						<th></th>
						<th></th>

					</tr>
				</thead>
				<tbody>

					<tr ng-repeat="tests in ac.recentRest">
					
						<td>{{tests.projectName}}</td>
						
						<td>{{tests.projectTypeName}}</td>
						
						<td><button ng-click="ac.ShowConfirm(tests.projectId)">delete</button></td>
						
						<!-- <td><a ng-click=toggleModalEdit(tests.projectId) class="btn btn-small btn-primary">edit</a></td> -->
						
						<td><button ng-click="toggleModalEdit(tests.projectId)" >edit</button></td>
						<!-- toggleModalEdit(tests) -->
						<!-- <td><button>set default</button></td> -->
						
						<td><input type="submit"
							name="submit" value="set default" ng-click=ac.setDefaultValues(tests.projectId)>
						</td>
					</tr>
			

<modal visible="showEdit">
			<form novalidate="novalidate" >
			
				
					<label for="projectName">Project Name:</label> <br> 
					<input type="text" id="projectName" ng-model="ac.updateProject.projectName"> <br><br> 
					<label for="projectDescription">Description:</label> <br>
					<textarea  id="projectDescription" ng-model="ac.updateProject.projectDescription"></textarea><br> <br> 
					<label for="projectTypeId">Project Mode:</label> <br> 
						<!-- <input type="text" id="projectTypeName" ng-model="projectDetails.projectTypes.projectTypeName">  --><br><br> 
					<!-- <select ng-model="ac.newProject.projectTypeId"
							ng-options="option as option.projectTypeId for option in ac.projectTypeNameOptions"> -->
					
					<select ng-model="ac.updateProject.projectTypeId" id="projectTypeId"
							ng-options="option as option.projectTypeId for option in ac.projectTypeIdOptions" >
					
						
						<option value="" >{{ac.updateProject.projectTypes.projectTypeName}}</option>
						
				<!-- 	//projectDetails.projectTypeId  for projectDetails in ac.details -->
				<!-- 	<option value="">{{projectDetails.projectTypes.projectTypeName}}</option> -->
					<!-- <option value="">{{projectDetails.projectTypeId}}</option> -->
				
					</select> <br> <br> <br> <br> <input type="submit"
							name="submit" value="Update" ng-click="updateProject()">
			
				
			</form></div>
			
			<div class="ui-resizable-handle ui-resizable-n" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-e" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-w" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-sw" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-ne" style="z-index: 90;"></div>
			<div class="ui-resizable-handle ui-resizable-nw" style="z-index: 90;"></div></div>

</modal>

	</tbody>
</table>
	</div>
		
		</div>
</section>


</div>


</body>
</html>