<nav class="container">
	<ul class="menuNav">
		<li><a class="overview" ui-sref=".automationOverView" ui-sref-active="active">Overview</a></li>
		<li><a class="createscenario" ui-sref=".automationController">Controller</a></li>
		<li><a class="scheduletest" ui-sref=".automationTools">Tools
		</a></li>
		<li><a class="livereport" ui-sref=".automationReports">Reports</a>
		</li>
		<li><a class="historicreport" ui-sref=".automationDefectManagement">Defect Management</a></li>
	</ul>
</nav>
<div class="container">
	<div ui-view></div>
</div>