<html>

<body >
<section class="wrap-content">
<div class="loadbox-wraper">

<label for="displayPrjNm">Project Name: </label>
<br></br>
<input id="displayPrjNm" type="text" readonly="readonly" name="ProjectName" value=asurion></input>
<br></br>

<label for="displayProjectDesc">Project	Description:</label>
<br></br>
<textarea id="displayProjectDesc" cols="20" rows="4" name="ProjectDescription" readonly="readonly" >desc1
</textarea>
<br></br>

<label for="displayPrjTyp">Project Type:</label>
<br></br>
<input id="displayPrjTyp" type="text" name="ProjectType" readonly="readonly" value="agile"></input>
<br></br>

<div id="bodyContentDiv">

    <div class="clear"></div>
    <div class="footerdiv">Recent Projects
       
        <input  id="open" type="button" value="New Project" class="btn btn-warning" style="width: 120px" ng-click="ac.ViewForm()"> 
	
	</div>
<div id="msg"></div>
<table border="1">
<thead>
			<tr>
					<th>Project Name</th>
					<th>Project Type Name</th>
					<th></th>
					<th></th>
					<th></th>
					
			</tr>
			</thead>
			<tbody>
			
				<tr ng-repeat="tests in ac.recentRest">
					<td>{{tests.projectName}}</td>
					<td>{{tests.projectTypeName}}</td>
					<td><button>delete</button></td>
					<td><button>edit</button></td>
					<td><button>set default</button></td>
					
				</tr>
			</tbody>
</table>
</div>
</div>
</div>
</section>

</body>
</html>
